* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d1221;
    font-family: -apple-system,Open Sans,sans-serif;
}

header {
    background-color: #233058 ;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    
}

.right_heder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

.heder_img {
    height: 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
}

.left_heder {
   color: rgb(252, 252, 252);
   font-size: 24px;
   font-weight: 638;
   padding-left: 18px;
   padding-right: 18px;
   padding-top: 12;
   height: 100%;
   cursor: pointer;
   align-items: center;
   display: flex;
   justify-content: center;
   gap: 12px;
}
.ask {
    height: 50px;
}

.left_heder:hover {
    background-color: #47547e;
    font-size: 24px;
    font-weight: 638;
    
 }

.por {
font-size: 28px;
margin-left: 0px;
}

.reg {
    color: rgb(81, 188, 238);
    background-color: #32406d;
    padding: 10px 15px 8px 16px;
    cursor: pointer;
    box-shadow: 7px;   
    border-radius: 4%;
}  

.reg:hover {
    color: rgb(71, 150, 202);
}

.header_input {
    height: 30px;
    width: 190px;
    background-color: #233058;
    border: none;
    box-shadow: none;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 100%;
    position: absolute;
    top: -18px;
    left: 35px;
    color: whitesmoke;
    outline: none;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.center_header {
    border: 2px solid #ff5100;
    height: 40px;
    align-items: center;
    position: relative;
    padding-right: 200px;
}

.Help {
    font-size: 18px;
    font-weight: 700px;
}

.Help:hover {
    background-color: #47547e;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 40px 30px 40px;
}

main > div {
    background-color: #233058;
}

.main_left {
    width: 65%;
    height: 1000px;
}

.main_right {
    width: 35%;
}

.main_content {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    color: whitesmoke;
}

.main_title {
    font-size: 13px;

}

h1 {
    font-weight: 200;
}

.tablo {
    text-align: left;
    border: 1px solid #0e111a;
}

.LEHA_LIVE {
    
}

.tab {
    margin-top: 15px;
}